cnn/dane/*
!cnn/dane/birds.csv
!cnn/dane/id_label.txt
!cnn/dane/efficientnet_lite0.pth

cnn/saved_models/*
!cnn/saved_models/model_525_ver1.onnx
!cnn/saved_models/model_525_ver1.pt
!cnn/saved_models/model_525_ver3.pt
!cnn/saved_models/model_525_ver3.onnx
!cnn/saved_models/model_525_ver3_lite.ptl